{% extends 'resume/base.html' %}
{% load markdown_filter %}
{% load i18n %}
{% spaceless %}
{%block content %}
<div class="card">
    <div class="card-image">
        <figure class="image" style="margin: 0 !important;">
            <img src="{{ STATIC_URL }}img/resume.jpg" style="max-height: 500px;" />
        </figure>
    </div>
    <div class="card-content">
        <div class="block">
            <div class="resume-tabs tabs is-centered is-medium">
                <ul>
                    <li class="is-active"><a href="#">{% blocktrans %}Resume{% endblocktrans %}</a></li>
                    <li><a href="#">{% blocktrans %}Persona{% endblocktrans %}</a></li>
                    <li><a href="#">{% blocktrans %}Projects{% endblocktrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="resume-panels block">
            <div class="content" id="resume-panel">
                <div class="blog-text">
                    <article class="markdown-body is-size-6">
                        {{ resume.body|markdownify|safe }}
                    </article>
                </div>
            </div>
            <div class="content is-hidden" id="persona-panel">
                {% for person in personas %}
                    <h5>{{ person.title|safe }}</h5>
                        {% if person.file_link %}
                            <a href="{{ MEDIA_URL }}{{ person.file }}" target="_blank">{{ person.file_link }}</a>
                        {% else %}
                            <a href="{{ person.link }}" target="_blank">{{ person.link }}</a>
                        {% endif %}
                    <div class="blog-text">
                        <article class="markdown-body">
                            {{ person.body|markdownify|safe }}
                        </article>
                    </div>
                    <hr />
                {% endfor %}
            </div>
            <div class="content is-hidden" id="projects-panel" style="margin: auto;">
                {% for project in projects%}
                <div class="columns">
                    <div class="column">
                        <div class="columns">
                            <div class="column" style="flex: none; width: 5%;"><i class="fa fa-certificate" style="font-size: 2em; color: gold;"></i></div>
                            <div class="column">
                                <p class="block"><strong>{{ project.title|safe }}</strong></p>
                                <p class="block">{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="column" style="flex: none; max-width: 300px;">
                        <div class="buttons">
                        {% if project.site %}
                            <a href="{{ project.site }}" target="_blank" class="button is-light" style="float: left;">Site</a>
                        {% endif %}
                        {% if project.gplay %}
                            <a href="{{ project.gplay }}" target="_blank" class="button is-light" style="float: right;">Google Play</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <hr style="margin: 0px;" /><br />
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endspaceless %}


{% block jquery_block %}
$(".resume-tabs > ul > li").on("click", function(evt) {
    $(".resume-tabs > ul > li").each(function(index) { $(this).removeClass("is-active"); });
    $(".resume-panels > .content").each(function(index) { $(this).addClass("is-hidden"); });
    let element = $(evt.currentTarget);
    element.addClass("is-active");
    $("#" + element.text().toLowerCase() + "-panel").removeClass("is-hidden");
});
{% endblock %}
