{% load background_image %}
{% load i18n %}
{% spaceless %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rodolfo De Nadai</title>
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}/img/favicon.ico">
        <link rel="alternate" href="http://www.rdenadai.com.br" hreflang="en" />
        <meta name="description" content="{% blocktrans %}This is Rodolfo De Nadai blog, resume, website...{% endblocktrans %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {%block meta %}{% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/github.css" charset="utf-8" />
        <style>
            html, body {
                font-family: 'Open Sans', sans-serif;
            }
        </style>
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
        <script type="text/javascript" language="javascript">
            // Shorthand for $( document ).ready()
            $(function () {
                hljs.initHighlightingOnLoad();

                $('#fixed-header-drawer-exp').on('keyup', function (evt) {
                    var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
                    if (keyCode == 13) {
                        location.href = '{% url 'view_blog_index' %}search/' + $('#fixed-header-drawer-exp').val() + '.html';
                    }
                });

                {% block jquery_block %}{% endblock %}
            });
        </script>

        <nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://www.rdenadai.com.br">
                    &nbsp;&nbsp;&nbsp;&nbsp;<h1 class="title" style="color: #f8f8f8;">Rodolfo De Nadai</h1>
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item"  href="https://github.com/rdenadai" target="_blank" title="github">
                        <i class="fa fa-github"></i>
                    </a>
                    <a class="navbar-item" href="https://twitter.com/rdenadai" target="_blank" title="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="navbar-item" href="http://br.linkedin.com/in/rdenadai" target="_blank" title="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container" style="max-width: 1024px !important;">
                <div class="tabs is-large">
                    <ul>
                        <li id="tab-essays" href="#tab-essays" class="{{ active_essays }}"><a href="{% url 'view_blog_index' %}">Essays</a></li>
                        <li id="tab-resume" href="#tab-resume" class="{{ active_resume }}"><a href="{% url 'info_view_index' %}">Resume / Profile</a></li>
                    </ul>
                </div>
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>
{% endspaceless %}