{% extends 'resume/base.html' %}
{% load i18n %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone" style="margin: 8px 8px 8px 0px;">
        <div class="blog-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text" style="margin: 0 auto;">
                <div class="blog-text">
                    <article class="markdown-body">
                        <form method="post" action="" class="form-horizontal style-form">
                            <fieldset>
                                <legend>
                                    <h2><i class="fa fa-lock"></i>&nbsp;{% blocktrans %}Bad request...{% endblocktrans %}</h2>
                                </legend>
                                <div>
                                {% blocktrans %}
                                For some reason your request has failed! try to reload the page or get in touch with our team, so we can find a solution to your problem.
                                <br />
                                Please, to get back to the main screen <a href="/">click here</a>.
                                <br /><br />
                                Thank you
                                {% endblocktrans %}
                                </div>
                                <div class="pull-right">
                                    <a href="/" style="text-decoration: none; color: #333;" class="mdl-button mdl-js-button mdl-button--raised"><i class="fa fa-reply"></i>&nbsp;{% blocktrans %}Return{% endblocktrans %}</a>
                                </div>
                            </fieldset>
                        </form>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
