{% extends 'resume/base.html' %}
{% load i18n %}

{% block content %}
<div class="box">
    <div class="blog-text">
        <article class="markdown-body">
            <form method="post" action="" class="form-horizontal style-form">
                <fieldset>
                    <h2><i class="fa fa-lock"></i>&nbsp;{% blocktrans %}Permission denied!{% endblocktrans %}</h2>
                    <div>
                        {% blocktrans %}
                        You don't have permission to view this content, to get access please contact the responsable for the system.
                        <br />
                        Please, to get back to the main screen <a href="/">click here</a>.
                        <br /><br />
                        Thank you
                        {% endblocktrans %}
                    </div>
                    <div class="pull-right">
                        <a href="/" style="text-decoration: none; color: #333;" class="button is-light"><i class="fa fa-reply"></i>&nbsp;{% blocktrans %}Return{% endblocktrans %}</a>
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
</div>
{% endblock %}
