{% extends 'resume/base.html' %}
{% load i18n %}

{% block content %}
<div class="box">
    <div class="blog-text">
        <article class="markdown-body">
            <form method="post" action="" class="form-horizontal style-form">
                <fieldset>
                    <h2><i class="fa fa-frown-o"></i>&nbsp;{% blocktrans %}Page not found!{% endblocktrans %}</h2>
                    <div>
                        {% blocktrans %}
                        We could found the page you are looking for, to get back to the main screen <a href="/">click here</a>.
                        {% endblocktrans %}
                    </div>
                    <div class="pull-right">
                        <a href="/" style="text-decoration: none; color: #333;" class="button is-light"><i class="fa fa-reply"></i>&nbsp;{% blocktrans %}Return{% endblocktrans %}</a>
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
</div>
{% endblock %}
