{% extends 'resume/base.html' %}
{% load i18n %}

{% block content %}
<div class="box">
    <div class="blog-text">
        <article class="markdown-body">
            <form method="post" action="" class="form-horizontal style-form">
                <fieldset>
                    <h2><i class="fa fa-bug"></i>&nbsp;{% blocktrans %}Server error!{% endblocktrans %}</h2>
                    <div>
                        {% blocktrans %}
                        It look's like our server return an error to you... try to reload the page or get in touch with our team, so we can find a solution to your problem.
                        <br />
                        Please, to get back to the main screen <a href="/">click here</a>.
                        <br /><br />
                        Thank you
                        {% endblocktrans %}
                    </div>
                    <div class="pull-right">
                        <a href="/" style="text-decoration: none; color: #333;" class="button is-light"><i class="fa fa-reply"></i>&nbsp;{% blocktrans %}Return{% endblocktrans %}</a>
                    </div>
                </fieldset>
            </form>
        </article>
    </div>
</div>
{% endblock %}
