{% extends 'resume/base.html' %}
{% load i18n %}
{% load markdown_filter %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--3-col-tablet mdl-cell--4-col-phone">
        <div class="card-image mdl-card mdl-shadow--2dp" style="height: 250px;">
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <span class="card-image__filename">@rdenadai</span>
            </div>
        </div>
        <br />
        <div class="mdl-card mdl-shadow--2dp" style="height: auto; width: auto;">
            <div class="mdl-grid" style="background-color: #fff;">
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                    <a href="https://github.com/rdenadai" title="github">
                        <button class="btn-github mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                            <i class="fa fa-github"></i>
                        </button>
                    </a>
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                    <a href="https://twitter.com/rdenadai" title="twitter">
                        <button class="btn-twitter mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </a>
                </div>
                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                    <a href="http://br.linkedin.com/in/rdenadai" title="linkedin">
                        <button class="btn-linkedin mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                            <i class="fa fa-linkedin"></i>
                        </button>
                    </a>
                </div>
                <div style="background-color: #fff; text-align: justify; padding: 5px 0px 0px 5px;">
                    <p>As Rodolfo De Nadai awoke one morning from uneasy dreams, he found himself transformed in his bed into a horrible vermin.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--5-col-desktop mdl-cell--4-col-phone">
        <div class="about-me mdl-color--white mdl-shadow--4dp mdl-cell--middle content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="blog-text"><article class="markdown-body">{{ whoiam|markdownify|safe }}</article></div>
        </div>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div id="page-content">
            {% for publication in publications %}
            <div class="blog-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background: url('{{ MEDIA_URL }}{{ publication.image }}') center / cover; height: 250px;">
                    <h2 class="mdl-card__title-text blog-title"><strong>{{ publication.title|safe }}</strong></h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ publication.description|safe|linebreaks }}
                    {% for category in publication.category.all %}
                        <a href="/blog/category/1/{{ category.slug }}.html" class="label label-default"><i class="fa fa-bookmark"></i>&nbsp;{{ category }}</a>
                    {% endfor %}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/blog/view/{{ publication.slug }}.html">
                        {% blocktrans %}Read publication{% endblocktrans %}
                    </a>
                </div>
                <div class="mdl-card__menu">
                    <button id="btn-share-slugname{{ publication.slug }}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="btn-share-slugname{{ publication.slug }}">
                        <li class="mdl-menu__item">
                            <a class="btn-share" href="javascript:void(0);" onclick="window.open('http://twitter.com/intent/tweet?text={{ publication.title }} =>&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&via=rdenadai', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300')">
                                <button class="btn-twitter mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                                    <i class="fa fa-twitter"></i>
                                </button>&nbsp;&nbsp;Twitter
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a class="btn-share" href="javascript:void(0);" onclick="window.open('http://www.facebook.com/share.php?u=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&title={{ publication.title }}', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');">
                                <button class="btn-facebook mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                                    <i class="fa fa-facebook"></i>
                                </button>&nbsp;&nbsp;Facebook
                            </a>
                        </li>
                        <li class="mdl-menu__item">
                            <a class="btn-share" href="javascript:void(0);" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&title={{ publication.title }}&source=rdenadai.com.br', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');">
                                <button class="btn-linkedin mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                                    <i class="fa fa-linkedin"></i>
                                </button>&nbsp;&nbsp;Linked In
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <br />
            {% endfor %}
            <nav class="blog-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                {% if previous_page %}
                <a href="/blog/{{ before_page }}/" class="blog-nav__button">
                    <button data-upgraded=",MaterialButton,MaterialRipple" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
                        <i class="material-icons">arrow_back</i>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>
                    {% blocktrans %}Newer{% endblocktrans %}
                </a>
                {% endif %}
                <div class="section-spacer"></div>
                {% if next_page %}
                <a href="/blog/{{ after_page }}/" class="blog-nav__button">
                    {% blocktrans %}Older{% endblocktrans %}
                    <button data-upgraded=",MaterialButton,MaterialRipple" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--  grey-900" role="presentation">
                        <i class="material-icons">arrow_forward</i>
                        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
                    </button>
                </a>
                {% endif %}
            </nav>
        </div>
    </div>
</div>
{% endblock %}

{% block jquery_block %}

{% endblock %}
