{% extends 'resume/base.html' %}
{% load i18n %}
{% load markdown_filter %}

{% block content %}
<div class="card">
    <div class="card-image">
        <figure class="media-left" style="margin: 0 !important; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem; background: url({{ STATIC_URL }}img/1500x500.jpeg) no-repeat center; background-size: cover; padding: 10px;">
            <p class="image" style="width: 255px; height: 255px;">
                <img class="is-rounded" style="padding: 8px; background-color: #fff; border-top-left-radius: 9999px !important; border-top-right-radius: 9999px !important;" src="{{ STATIC_URL }}img/image_card.jpg" />
            </p>
        </figure>
    </div>
    <div class="card-content">
        <div class="blog-text">
            <article class="markdown-body">{{ whoiam|markdownify|safe }}</article>
        </div>
    </div>
</div>
<br />
<div class="content">
    {% for publication in publications %}
    <div class="card">
        <div class="card-image">
            <figure class="image" style="margin: 0 !important;">
                <img src="{{ MEDIA_URL }}{{ publication.image }}" style="max-height: 464px;" />
            </figure>
        </div>
        <div class="card-content">
            <p class="title"><strong>{{ publication.title|safe }}</strong></p>
            <p class="block">{{ publication.description|safe|linebreaks }}</p>
            <p class="block">
                <div class="tags are-medium">
                    {% for category in publication.category.all %}
                    <span class="tag is-light" style="color: #c8c8c8;"><a href="/blog/category/1/{{ category.slug }}.html">{{ category }}</a></span>
                    {% endfor %}
                </div>
            </p>
        </div>
        <footer class="card-footer">
            <a href="/blog/view/{{ publication.slug }}.html" class="card-footer-item" title="{% blocktrans %}Read publication{% endblocktrans %}">{% blocktrans %}Read publication{% endblocktrans %}</a>
            <a href="javascript:void(0);" onclick="window.open('http://twitter.com/intent/tweet?text={{ publication.title }} =>&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&via=rdenadai', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300')" class="card-footer-item" title="Share on Twitter"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
            <a href="javascript:void(0);" onclick="window.open('http://www.facebook.com/share.php?u=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&title={{ publication.title }}', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');" class="card-footer-item" title="Share on Facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
            <a href="javascript:void(0);" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ publication.slug }}.html&title={{ publication.title }}&source=rdenadai.com.br', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');" class="card-footer-item" title="Share on LinkedIn"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
        </footer>
    </div><br />
    {% endfor %}
    <br />
    <nav class="pagination" role="navigation" aria-label="pagination">
        {% if previous_page %}
        <a href="/blog/{{ before_page }}/" class="pagination-previous button is-light">
            {% blocktrans %}Newer{% endblocktrans %}&nbsp;&nbsp;<i class="fa fa-solid fa-arrow-left"></i>
        </a>
        {% endif %}
        {% if next_page %}
        <a href="/blog/{{ after_page }}/" class="pagination-next button is-light">
            <i class="fa fa-solid fa-arrow-right"></i>&nbsp;&nbsp;{% blocktrans %}Older{% endblocktrans %}
        </a>
        {% endif %}
    </nav>
</div>
{% endblock %}
