{% extends 'resume/base.html' %}
{% load markdown_filter %}
{% load i18n %}
{%block meta %}
<meta property="og:title" content="{{ post.title|safe }}"/>
<meta property="og:image" content="{{ MEDIA_URL }}{{ post.image }}"/>
<meta property="og:description" content="{{ post.description|safe }}{% for category in post.category.all %}#{{ category.name }} {% endfor %}"/>
{% endblock %}
{%block content %}
{% spaceless %}
<div class="card">
    <div class="card-image">
        <figure class="image" style="margin: 0 !important;">
            <img src="{{ MEDIA_URL }}{{ post.image }}" style="max-height: 300px;" />
        </figure>
    </div>
    <div class="card-content">
        <p class="title"><strong>{{ post.title|safe }}</strong></p>
        <hr />
        <p class="block"><div style="width: 100%; text-align: right; color: #999;">{% blocktrans %}Posted{% endblocktrans %} {{ days_ago }} {% blocktrans %}day(s) ago{% endblocktrans %}</div></p>
        <p class="block">
            <div class="blog-text">
                <article class="markdown-body">
                    {{ post.body|markdownify|safe }}
                </article>
            </div>
        </p>
        <p class="block">
            <div class="tags are-medium">
                {% for category in post.category.all %}
                <span class="tag is-light" style="color: #c8c8c8;"><a href="/blog/category/1/{{ category.slug }}.html">{{ category }}</a></span>
                {% endfor %}
            </div>
        </p>
    </div>
    <footer class="card-footer">
        <a href="javascript:void(0);" onclick="window.open('http://twitter.com/intent/tweet?text={{ post.title }} =>&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ post.slug }}.html&via=rdenadai', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300')" class="card-footer-item" title="Share on Twitter"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a>
        <a href="javascript:void(0);" onclick="window.open('http://www.facebook.com/share.php?u=http://{{ request.META.HTTP_HOST }}/blog/view/{{ post.slug }}.html&title={{ post.title }}', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');" class="card-footer-item" title="Share on Facebook"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Facebook</a>
        <a href="javascript:void(0);" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://{{ request.META.HTTP_HOST }}/blog/view/{{ post.slug }}.html&title={{ post.title }}&source=rdenadai.com.br', 'page','toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=500,height=300');" class="card-footer-item" title="Share on LinkedIn"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a>
    </footer>
</div>
{% endspaceless %}
{% endblock %}
